<h1>Create Your Profile </h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error_message|%>
        <p>
            <%= error_message %>
        </p>
    <% end %>
<% end %>

<%= render 'form'%>

<br><p>Already have an account click on <%=link_to "Log in", blogin_path%></p>