<h1>Sign up page</h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error_message|%>
        <p>
            <%= error_message %>
        </p>
    <% end %>
<% end %>

<%=render 'form'%>

<br><p>Already have an account click on <%=link_to "Log in", clogin_view_path%></p>