<h1>Security Setting</h1>

<p>Email: <%=@customer.email%><%=button_to "Edit", email_change_path(@customer), method: :get %></p>
<p>Password <%=button_to "Update Password", pass_change_path(@customer),method: :get %></p>

