<h3>Appointment</h3>

<p> Hello <%=@appointment.customer.name%> here is your appointment info</p>

<p>Barber: <%=@appointment.barber.name%></p>
<p>Time: <%=@appointment.time%></p>
<p>Date: <%=@appointment.date%></p>